@keyframes alert-animation {
  0% {
    top: 5vh;
    opacity: 0;
  }
  40% {
    top: 15vh;
    opacity: 1;
  }
  90% {
    top: 15vh;
    opacity: 1;
  }
  100% {
    top: 13vh;
    opacity: 0;
  }
}

#screen-selfie {                     
  color: white;
  position: relative;
}

.topbar {
  width: 100%;
  padding: 2.3vh 0 0;
  /* background: url('../../assets/Selfie_topbar.png'); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  height: calc(13vh - 2.3vh);
  position: relative;
}

#top-bar-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 13vh;
  width: 100vw;
}

#selfie-topbar-goldline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.topbar .brand-logo {
  width: 21.2vh;
}

.topbar p {
  font-size: 2.7vh;
  margin: 2.7vh;
  line-height: 2.7vh;
}

#main-canvas {
  position: relative;
  /* height: 100%; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
  display: flex;
  /* height: 131.5vw; */
}

#selfie-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%) scaleX(-1);
}

#main-canvas p {
  margin: 1.9vh;
  z-index: 22;
  font-size: 3vh;
}

#selfie-target {
  width: 23vh;
  transition: 0.8s;
  opacity: 0.1;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  max-width: 240px;
}

#video {
  position: absolute;
  left: 0;
  z-index: -1;
  /* width: 46.182266009vh; */
  top: 1;
  opacity: 0.01;
  /* transform: scaleX(-1); */
}

.video-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.video-canvas canvas {
  transform: scaleX(-1);
}

#circle-frame {
  margin-top: 5vh;
  width: 92.5%;
  height: 43.182vh;
  max-width: 480px;
  max-height: 480px;
  border-radius: 50%;
  z-index: 4;
  background: url('../../assets/selfieCircle.svg') no-repeat;
  box-shadow: 0 0 999px #2A1102;
  background-size: contain;
}

.lowbar {
  display: flex;
  justify-content: center;
  height: 31.5vw;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

#low-bar-bg {
  bottom: 0;
  height: 100%;
  width: 100vw;
}

.lowbar #selfie-button {
  width: 9.4vh;
  height: 9.8vh;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 3px 14px #FFFFFF3B;
  border: none;
  position: absolute;
  opacity: 50%;
  z-index: 99;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('../../assets/selfieBtn.svg');
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  touch-action: none;
}

.lowbar #selfie-button:focus {
  outline:0;
}

.lowbar #selfie-button img {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#alert-box {
  background-image: url('../../assets/selfie_warning.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 31.2vh;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
  z-index: 245643536;
  opacity: 0;
  animation: alert-animation ease-out;
}

#alert-box p {
  margin: 5.8vh 0 3vh;
  font-size: 2.2vh;
  line-height: 2.9vh;
  white-space: pre-line;
}