@keyframes pulse-animation {
  0% {
    width: 9vh;
    height: 9vh;
  }
  100% {
    width: 12vh;
    height: 12vh;
  }
}

@keyframes pulse-animation2 {
  0% {
    width: 8vh;
    height: 8vh;
  }
  100% {
    width: 10vh;
    height: 10vh;
  }
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes arrow-animation {
  0% {
    top: 26vh;
    opacity: 0;
  }
  70% {
    top: 22vh;
    opacity: 1;
  }
  100% {
    top: 21vh;
    opacity: 0.1;
  }
}


#screen-game video {
  /* display: none; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

#screen-game canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#screen-game .catch-container {
  height: 100vh;
  width: 100%;
  top: -2.3vh;
  left: 0;
  margin-top: -2.3vh;
  position: absolute;
}

#screen-game #ar-benifit-container {
  color: white;
  position: absolute;
  left: 50%;
  top: 26vh;
  opacity: 0;
  transform: translate(-50%);
  z-index: 1;
  /* transition: 1s ease-in; */
}

#screen-game #ar-benifit-container p {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  line-height: 3.5vh;
  text-align: center;
  width: 9.5vh;
  text-shadow: 1px 2px 2px #5F3610;
}

#screen-game #catch-circle, #active-catch-circle, #catch-circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28vh;
  z-index: 1;
}

#screen-game #active-catch-circle {
  display: none;
  width: 20vh;
  -webkit-animation:rotation 24s linear infinite;
  animation:rotation 24s linear infinite;
}

#screen-game #catch-circle-bg {
  width: 75vh;
}

#screen-game /* .active {
  display: block;
} */

.hide {
  display: none !important;
}

#screen-game .top-section {
  z-index: 2;
}

#screen-game .top-section img {
  z-index: 1;
}

#screen-game .top-section .highlight-box {
  z-index: 1;
  width: 24.8vh;
}

#screen-game .top-section .highlight-box p {
  font-size: 2.7vh;
  line-height: 3.7vh;
}

#screen-game #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A1102 0% 0% no-repeat padding-box;
  opacity: 0.8;
}

#screen-game #overlay.start-game {
  background: transparent linear-gradient(180deg, #4F290400 0%, #2C1702 100%) 0% 0% no-repeat padding-box;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  opacity: 1;
  height: 22vh;
}

#screen-game .bottom-part {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 8vh;
  text-align: center;
  width: 100%;
}

#screen-game .bottom-part .submit-text {
  z-index: 2;
  color: white;
  font-size: 2.2vh !important;
}

#screen-game .bottom-part #start-game-button {
  z-index: 2;
  background: transparent;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#screen-game .bottom-part #start-game-button img {
  width: 13.2vh;
  height: 13.2vh;
}

#screen-game .circle {
  background: transparent;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px #FFFFFF6C;
  opacity: 0.31;
}

#screen-game .pulse {
  animation: pulse-animation 2s infinite;
}

#screen-game .circle2 {
  background: transparent;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px #FFFFFF6C;
  opacity: 0.31;
}

#screen-game .circle2.pulse {
  animation: pulse-animation2 2s infinite;
}

#screen-game .preview-container #selfie-filter {
  position: relative;
  display: inline-block;
  width: 13vh;
  height: 13vh;
  margin: 0;
  border: 0;
  position: relative;
  transition: none;
  left: unset;
  transform: unset;
  top: unset;
  z-index: 2;
  background: transparent linear-gradient(180deg, #834E06 0%, #F7CC92 48%, #834E06 100%) 0% 0% no-repeat padding-box;
}

#screen-game .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vh;
}


#screen-game .user-info #play-info-bg {
  position: absolute;
  top: 0.9vh;
  left: 0;
  z-index: -1;
  height: 13vh;
}

#screen-game .preview-container .user-info {
  color: white;
  display: flex;
  position: relative;
}

#screen-game .meter-container {
  height: 1vh;
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 1.5vh;
  padding: 0.2vh 0.25vh 0.25vh;
}

#screen-game .meter-container .meter {
  height: 1vh;
}

#screen-game .meter-container .meter > span {
  width: 25%;
  transition: 0.2s ease;
}

#screen-game .meter-bar {
  width: 15vh;
}

#screen-game .user-info .text-info {
  text-shadow: 0px 0px 10px #F89029;
  text-align: center;
  letter-spacing: 0.28px;
}

#screen-game .user-info .text-info p {
  display: inline;
  font-size: 1.8vh;
  line-height: 2.1vh;
}

#screen-game .user-info .text-info h3 {
  display: inline;
  font-size: 3vh;
  margin: 0 0.4vh;
}

#screen-game .user-info .text-info h4 {
  display: inline;
  font-size: 2.1vh;
  line-height: 2.1vh;
}

#screen-game .counter {
  position: absolute !important;
  top: 2.3vh;
  right: 3vh;
}

#screen-game #ar-measure-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen-game #ar-measure-bg img {
  width: 43.6vh;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 5vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.1vh;
}

#countdown-number small {
  font-size: 1.6vh;
}