@keyframes pulse-animation {
  0% {
    width: 12vh;
    height: 12vh;
    box-shadow: 0px 0px 0px 2px #FFFFFF6C;
  }
  100% {
    width: 15vh;
    height: 15vh;
    box-shadow: 0px 0px 5px 22px  #fffffff5;
  }
}

@keyframes pulse-animation2 {
  0% {
    width: 12vh;
    height: 12vh;
    box-shadow: 0px 0px 0px 2px #FFFFFF6C;
  }
  100% {
    width: 15vh;
    height: 15vh;
    box-shadow: 0px 0px 14px 22px #FFFFFF6C;
  }
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes moveUpDownAndRotate {
  0%, 100% {
    transform: translateY(10px) rotate(180deg);
  }
  50% {
    transform: translateY(0px) rotate(180deg);
  }
}

@keyframes arrow-animation {
  0% {
    top: 26vh;
    opacity: 0;
  }
  70% {
    top: 22vh;
    opacity: 1;
  }
  100% {
    top: 21vh;
    opacity: 0.1;
  }
}

@keyframes end-gld-animation {
  0% {

  }
  100% {
    left: 50%;
    top: 10vh;
    width: 2vh;
  }
}

/* @property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#progress-indicator-number {
  --num: 25;
  transition: --num 5s;
  counter-set: num var(--num);
}

#progress-indicator-number::after {
  content: counter(num);
} */

#screen-game video {
  /* display: none; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.01;
  touch-action: none;
}

#screen-game canvas#three-js-world {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#screen-game .video-canvas {
  z-index: -1;
}

#screen-game .video-canvas canvas {
  transform: none;
}


#screen-game .catch-container {
  height: 100vh;
  width: 100%;
  top: -2.3vh;
  left: 0;
  margin-top: -2.3vh;
  position: absolute;
}

#screen-game #ar-benifit-container {
  color: white;
  position: absolute;
  left: 50%;
  top: 26vh;
  opacity: 0;
  transform: translate(-50%);
  z-index: 1;
  /* a0nimation: arrow-animation 1.5s linear infinite; */
  /* animation: 'none'; */
  /* transition: 1.5s ease-in-out; */
}

.anime {
  animation: arrow-animation 1.5s linear infinite;
}

#screen-game #ar-benifit-container p {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  line-height: 3.5vh;
  text-align: center;
  width: 9.5vh;
  text-shadow: 1px 2px 2px #5F3610;
  white-space: pre-line;
}

#screen-game #catch-circle, #active-catch-circle, #catch-circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28vh;
  z-index: 1;
}

#screen-game #target-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 60%; */
  color: white;
  font-size: 3.8vh;
  margin: 0;
}

#screen-game #active-catch-circle {
  display: none;
  width: 20vh;
  -webkit-animation:rotation 24s linear infinite;
  animation:rotation 24s linear infinite;
}

#screen-game #catch-circle-bg {
  width: 75vh;
}

.block {
  display: block;
}

.hide {
  display: none !important;
}

#screen-game .top-section {
  z-index: 2;
}

#screen-game .top-section img {
  z-index: 1;
}

#screen-game .top-section .highlight-box {
  z-index: 1;
  width: 24.8vh;
}

#screen-game .top-section .highlight-box p {
  font-size: 2.7vh;
  line-height: 4vh;
}

#screen-game #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A1102 0% 0% no-repeat padding-box;
  opacity: 0.8;
}

#screen-game #overlay.start-game {
  background: transparent linear-gradient(180deg, #4F290400 0%, #2C1702 100%) 0% 0% no-repeat padding-box;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  opacity: 1;
  height: 22vh;
}

#screen-game .bottom-part {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  /* bottom: 8vh; */
  text-align: center;
  width: 100%;
}

#screen-game .bottom-part .submit-text {
  z-index: 2;
  color: white;
  font-size: 2.2vh !important;
}

#screen-game .bottom-part #start-game-button {
  z-index: 2;
  background: transparent;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#screen-game .bottom-part #start-game-button img {
  width: 13.2vh;
  height: 13.2vh;
}

#screen-game #pulse-circle {
  width: 95%;
  height: 95%;
  position: absolute;
  /* display: none; */
}

#screen-game .circle {
  background: transparent;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px #FFFFFF6C;
  opacity: 0.31;
}

#screen-game .pulse {
  animation: pulse-animation 1.5s infinite;
}

#screen-game #circle2 {
  background: transparent;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  /* border: 3px solid #ffffff; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px #FFFFFF6C;
  opacity: 0.31;
}

#screen-game #circle2.pulse {
  animation: pulse-animation2 1.5s ease-out;
}

#screen-game #circle2.pulse2 {
  animation: pulse-animation 1.5s ease-out;
}

#screen-game .preview-container #selfie-filter {
  position: relative;
  display: inline-block;
  width: 13vh;
  height: 13vh;
  margin: 0;
  border: 0;
  position: relative;
  transition: none;
  left: unset;
  transform: unset;
  top: unset;
  z-index: 2;
  overflow: initial;
  background: transparent linear-gradient(180deg, #834E06 0%, #F7CC92 48%, #834E06 100%) 0% 0% no-repeat padding-box;
}

#screen-game .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vh;
}


#screen-game .user-info #play-info-bg {
  position: absolute;
  top: 0.9vh;
  left: 0;
  z-index: -1;
  height: 13vh;
}

#screen-game .preview-container .user-info {
  color: white;
  display: flex;
  position: relative;
}

#screen-game .meter-container {
  height: 1vh;
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 1.5vh;
  padding: 0.2vh 0.25vh 0.25vh;
}

#screen-game .meter-container .meter {
  height: 1vh;
}

#screen-game .meter-container #progress-indicator {
  width: 25%;
  transition: 1.5s ease-out;
}

#screen-game .meter-bar {
  width: 15vh;
}

#screen-game .user-info .text-info {
  text-shadow: 0px 0px 10px #F89029;
  letter-spacing: 0.28px;
  width: 18vh;
  text-align: left;
  word-break: keep-all;
}

#screen-game .user-info .text-info p {
  display: inline;
  font-size: 1.8vh;
  line-height: 2.1vh;
}

#screen-game .user-info .text-info h3 {
  display: inline;
  font-size: 3vh;
  margin: 0 0.4vh;
}

#screen-game .user-info .text-info h4 {
  display: inline;
  font-size: 2.1vh;
  line-height: 2.1vh;
}

#screen-game .counter {
  position: absolute !important;
  top: 2.3vh;
  right: 3vh;
}

#screen-game #ar-measure-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen-game #ar-measure-bg img {
  width: 43.6vh;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 5vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.1vh;
}

#countdown-number small {
  font-size: 1.6vh;
}

#screen-game #cta-arrow {
  animation: moveUpDownAndRotate 1.5s ease-in-out infinite;
  width: 4vh;
  transform: rotate(180deg);
}

#screen-game #mobile-ani {
  /* position: absolute; */
  /* display: inline-block; */
  height: 9vh;
  width: 10.9vh;
  margin: 0 auto 1.6vh;
}

#screen-game .target-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28vh;
  height: 28vh;
  z-index: 2;
}

#screen-game #arrow-top {
  position: absolute;
  top: 8%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 1.6vh;
}
#screen-game #arrow-bottom {
  position: absolute;
  bottom: 2%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 1.6vh;
}
#screen-game #arrow-left {
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 1.6vh;
}
#screen-game #arrow-right {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 1.6vh;
}

#end-game-gold-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#end-game-gold-element img {
  position: absolute;
  width: 9vh;
  /* animation: end-gld-animation 1.5s linear infinite; */
}

#end-game-gold-element.animate img {
  animation: end-gld-animation 1s cubic-bezier(.4,.84,.72,.4);
}

#end-game-gold-element img#gld-1 {
  left: -12vh;
  top: 50vh;
  animation-delay: 0.62s;
}

#end-game-gold-element img#gld-2 {
  left: -18vh;
  top: 36vh;
  animation-delay: 0.92s;
}

#end-game-gold-element img#gld-3 {
  left: 30vw;
  top: 118vh;
  animation-delay: 0.15s;
}

#end-game-gold-element img#gld-4 {
  left: -18vh;
  top: 60vh;
  animation-delay: 0.71s;
}

#end-game-gold-element img#gld-5 {
  left: -14vh;
  top: 43vh;
  animation-delay: 0.33s;
}

#end-game-gold-element img#gld-6 {
  left: -18vh;
  top: 117vh;
}

#end-game-gold-element img#gld-7 {
  left: 114vw;
  top: 52vh;
  animation-delay: 0.47s;
}

#end-game-gold-element img#gld-8 {
  left: 50vw;
  top: 110vh;
  animation-delay: 0.32s;
}

#end-game-gold-element img#gld-9 {
  left: 124vw;
  top: 78vh;
  animation-delay: 0.5s;
}

#end-game-gold-element img#gld-10 {
  left: 60vw;
  top: 124vh;
  animation-delay: 0.7s;
}

#end-game-gold-element img#gld-11 {
  left: 118vw;
  top: 32vh;
  animation-delay: 0.6s;
}