@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#screen-preview {
  color: white;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.3vh 0 0;
}

.top-section .brand-logo {
  width: 21.2vh;
  margin-bottom: 2.3vh;
}

.highlight-box {
  position: relative;
  color: white;
  margin-bottom: 1.3vh;
  width: 100%;
  text-align: center;
}

.highlight-box p {
  margin: 0.3vh 0;
  font-size: 2.5vh;
  line-height: 4.2vh;
}

.highlight-box::before,
.highlight-box::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 0.25vh;
  width: 90%;
  background: transparent linear-gradient(90deg, #D08A2B00 0%, #FFECD1 51%, #D08A2B00 100%) 0% 0% no-repeat padding-box;
}

.highlight-box::before {
  top: 0;
}

.highlight-box::after {
  bottom: 0;
}

.preview-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.preview-container .container-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.11;
  filter: blur(50px);
}

#result-circle {
  width: 100%;
  margin: 1vh 3.8vh 0;
  max-height: calc(46.182266009vh - 3.8vh - 3.8vh);
  -webkit-animation:spin 24s linear infinite;
  animation:spin 24s linear infinite;
}

#selfie-preview {
  height: 100%;
  object-fit: cover;
  width: 100%;
  mix-blend-mode: multiply;
}

#selfie-winkles {
  height: 60%;
  object-fit: cover;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
}

#selfie-filter {
  width: calc(100% - 3.8vh - 3.8vh);
  box-sizing: border-box;
  border: 5.6vh solid transparent;
  border-radius: 50%;
  margin: 1vh 0 0;
  position: absolute;
  height: calc(100% - 1vh);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  box-shadow: 0px 0px 8px #26130060;
  opacity: 1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#selfie-filter .selfie-bg {
  background: white;
  width: 95%;
  height: 95%;
  overflow: hidden;
  border-radius: 50%;
}

.preview-info .text-info {
  text-shadow: 0px 0px 10px #F89029;
  text-align: center;
  letter-spacing: 0.28px;
}

.preview-info .text-info p {
  display: inline;
  font-size: 1.8vh;
  line-height: 2.1vh;
}

.preview-info .text-info h3 {
  display: inline;
  font-size: 3vh;
  margin: 0 0.4vh;
}

.preview-info .text-info h4 {
  display: inline;
  font-size: 2.1vh;
  line-height: 2.1vh;
}

.meter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meter-bar p {
  display: inline-block;
  padding: 0 8px;
  text-shadow: 0px 0px 10px #F89029;
  margin: 1.2vh 0;
  font-size: 1.8vh;
  line-height: 2.1vh;
}

.meter-container {
  height: 2.08vh;
  display: inline-block;
  width: 70%;
  position: relative;
  border-radius: 1.6vh;
  padding: 0.37vh;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  background: transparent linear-gradient(180deg, #FFD393 0%, #A57635 55%, #C19A65 55%, #834E06 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #FFFFFF5F;
}

.meter {
  height: 2.08vh;
  background: #2A1102 0% 0% no-repeat padding-box;
  border-radius: 1.6vh;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  overflow: hidden;
  background: transparent linear-gradient(180deg, #834E06 0%, #F7CC92 48%, #834E06 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #391000D8;
  width: 0;
  transition: 1s ease 2s;
}

.submit-text {
  text-align: center;
  font-size: 2.2vh;
  line-height: 3.4vh;
  margin: 1.4vh 0 0;
}

.submit-text p {
  margin: 0;
}

.submit-text #cta-arrow {
  animation: moveUpDown 1.5s ease-in-out infinite;
  width: 4vh;
}

.bottom-section {
  position: relative;
  /* margin-top: 1vh; */
  text-align: right;
  padding-right: 2.5vh;
}

.bottom-section #start-game-button {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  box-shadow: 0px 3px 14px #FFFFFF3B;
  border: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.bottom-section #start-game-button:focus {
  outline:0;
}

.bottom-section #start-game-button img {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-section .start-game-btn {
  position: absolute;
  display: inline-block;
  background-image: url('../../assets/landing_start_btn.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 8vh;
  width: 24vh;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

.bottom-section .start-game-btn p {
  font-size: 2.3vh;
}

.bottom-section #reshoot-button {
  background: transparent;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.gold-element-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.gold-element-bg img {
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.gold-element-bg img:nth-child(2n + 1) {
  transform: translatey(0px);
	animation: float2 6s ease-in-out infinite;
}

.gold-element-bg #gld-1 {
  position: absolute;
  left: -3vh;
  top: 43vh;
}

.gold-element-bg #gld-2 {
  position: absolute;
  left: 3vh;
  top: 8vh;
}

.gold-element-bg #gld-3 {
  position: absolute;
  left: -2vh;
  top: 15vh;
}

.gold-element-bg #gld-4 {
  position: absolute;
  right: -2vh;
  top: 33vh;
}

.gold-element-bg #gld-5 {
  position: absolute;
  left: 10vh;
  bottom: -4vh;
}

.gold-element-bg #gld-6 {
  position: absolute;
  right: 8vh;
  bottom: 26vh;
}

.gold-element-bg #gld-7 {
  position: absolute;
  left: 6vh;
  bottom: 30vh;
}

.gold-element-bg #gld-8 {
  position: absolute;
  left: -10vh;
  bottom: 0vh;
}

.gold-element-bg #gld-9 {
  position: absolute;
  right: -3vh;
  bottom: 30vh;
}

.gold-element-bg #gld-10 {
  position: absolute;
  right: -12vh;
  top: 2vh;
}

.gold-element-bg #gld-11 {
  position: absolute;
  right: -2vh;
  bottom: 42vh;
}
