#screen-share {
  color: white;
}

#screen-share .brand-logo {
  margin-bottom: 1.7vh;
}

#screen-share h2 {
  font-size: 4.2vh;
  line-height: 6.2vh;
  margin: 0 0 2.2vh;
  font-weight: normal;
}

#screen-share .highlight-box p {
  margin: 0.3vh 0;
  font-size: 2.6vh;
  line-height: 4vh;
}

#mock {
  z-index: -1;
  position: relative;
  margin: 2.6vh auto 0;
  width: 35.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mockImg {
  width: 35.5vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#screen-share #card-outline {
  position: absolute;
  top: 1.2vh;
  left: 6.3vh;
  width: 35.5vh;
}

#screen-share .prize-card {
  position: relative;
  margin: 2.6vh auto 0;
  /* width: 35.5vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

#screen-share .prize-card .brand-logo {
  width: 21.8vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3.5vh;
}

#screen-share .prize-card .main-text {
  position: absolute;
  top: 8vh;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.4vh;
  line-height: 2.7vh;
}

#screen-share #prize-card-bg {
  width: 100%;
}

#screen-share #prize-card-gold-element-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#screen-share #skin-c-bottle {
  position: absolute;
  left: 1.4vh;
  bottom: 3vh;
  width: 8vh;
  height: 25.6vh;
}

#screen-share #prize-card-qr-code {
  position: absolute;
  right: 2.2vh;
  bottom: 3vh;
  width: 9vh;
  height: 9vh;
  max-width: 9vh;
  max-height: 9vh;
}

#screen-share #selfie-filter {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31.8vh;
  height: 31.7vh;
  margin: 0;
  border: 0;
  transition: none;
  z-index: 0;
}

#screen-share #selfie-filter #selfie-preview {
  height: 97%;
  object-fit: cover;
  width: 97%;
  border-radius: 50%;
  mix-blend-mode: unset;
}

#screen-share #selfie-filter .selfie-filter-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: transparent linear-gradient(180deg, #834E06 0%, #F7CC92 48%, #834E06 100%) 0% 0% no-repeat padding-box;
}

#screen-share #hash-text {
  position: absolute;
  bottom: 5%;
  /* bottom: 2.8vh; */
  left: 50%;
  transform: translate(-50%);
}

#screen-share #hash-text p {
  margin: 0;
  font-size: 1.75vh;
  line-height: 2.5vh;
}

#screen-share .share-section {
  font-size: 1.75vh;
  line-height: 2.5vh;
  margin: 2vh auto;
  width: 29.6vh;
}

#screen-share .share-section img {
  width: 2.3vh;
  margin: 0 0.2vh;
}

#screen-share #copy-hashtag {
  color: #F7D6A6;
  border: 1px solid #F7D6A6;
  width: 96%;
  margin: 0 auto;
  height: 3.7vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#screen-share #copy-hashtag img {
  width: 1.2vh;
  position: absolute;
  right: 1.2vh;
  top: 50%;
  transform: translateY(-50%);
}

#screen-share .color-word {
  color: #F7D6A6;
}

#screen-share sup {
  line-height: 0;
}

#screen-share .share-bottom-section .highlight-box p {
  font-size: 2.3vh;
  line-height: 3.4vh;
  display: inline;
}

#screen-share .share-bottom-section .highlight-box h3 {
  display: inline;
  font-size: 3vh;
  line-height: 4vh;
}

#screen-share .share-bottom-section .ref-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.8vh;
}

#screen-share .share-bottom-section .ref-pictures .picture-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}

#screen-share .share-bottom-section .ref-pictures img{
  display: inline-block;
  width: 15.4vh;
}

#screen-share .share-bottom-section .ref-pictures small {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 1vh;
  line-height: 1.3vh;
  width: 26vh;
  text-align: left;
  margin-top: 2.4vh;
}

#screen-share .active-btn {
  background-image: url('../../assets/active_btn.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 24%;
  position: relative;
  width: 13.1vh;
  height: 5.2vh;
  margin: 2.5vh;
}

#screen-share .active-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 2.4vh;
  line-height: 3.5vh;
}