@font-face {
  font-family:"Futura";
  src: url("./assets/fonts/Futura.ttf") format("truetype");
}

@font-face {
  font-family:"Noto Sans SC";
  src: url("./assets/fonts/NotoSansSC-Regular.otf") format("truetype");
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

#root {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root >section {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 46.182266009vh;
}

#app-disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  font-size: 1.5vh;
}

#app-disclaimer p {
  margin:0;
  text-align: center;
  color:white;
}

#app-disclaimer a {
  display: table;
  margin: 0 auto;
  color: white;
}
